{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col s12 m7">
            <h2 class="header">Main Page</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Vel ornatus deserunt eu, at mei quas malorum ponderum. Ad cum quidam tractatos, nam alia
                            conceptam consetetur ut. Odio suas vim ex, ad illud ridens denique duo. His invenire
                            posidonium honestatis cu.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}